.preview-details-container {
  max-width: 95%;
}
.business {
  background-color: #f2f2f2;
  transition: .3s ease all;
}
.business-img {
  max-width: 0px;
  overflow: hidden;
}
.business-logo{
  width: 100%;
}
.business-card {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  margin-bottom: 12px;
  overflow: hidden;
  .business-service {
    h4 {
      font-weight: bold;
    }
  }
  .full-information {
    .business-title {
      opacity: 0.5;
    }
  }
  &-collapse,
  &-expand {
    position: relative;
    .preview-details {
    opacity: 0.5;
    margin-top: 4px;
   }
   .details {
     display: none;
   }
  .location {
     font-size: 12px;
     font-weight: bold;
     margin-top: 12px;
    }
  }
  &-collapse {
    .full-information {
      max-height: 0px;
      overflow: hidden;
      transition: all 0.4s ease-in;
    }
  }
  &-expand {
    .location {
      display: none;
    }
    .full-information {
      margin-top: 22px;
      max-height: 2000px;
      transition: all 0.4s ease-in;
    }
  }

  .business-title {
    margin-bottom: 8px;
  }
  hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: 1px solid rgba(96,125,139,0.25);
    opacity: 0.25;
    width: 100%
  }
  h4 {
    margin-bottom: 4px;
    font-weight: normal;
    line-height: 24px
  }
  .social-icons {
    margin-bottom: 32px;
    transition: .3s ease all;
    &-hide {
      display: none;
    }
    img {
      margin-right: 8px;
    }
  }
  .search-filter-label {
    background-color: $white-color;
    color: $primary-color;
    border-radius: 21px;
    padding: 2px 4px;
    font-size: 10px !important;
    font-weight: bold !important;
    margin-right: 4px;
    white-space: nowrap;
    display: inline-block;
  }
}

.business-type-btn {
  .business-type {
    width: 100%;
  }
  @media (max-width: 60em) {
    overflow: hidden;
    white-space: nowrap;
    margin: 0 8px;
    .business-type-container {
      overflow: scroll;
      white-space: nowrap;
      display: inline-block;
      ::-webkit-scrollbar {
        display: none;
      }
      div {
        margin-right: 8px;
        display: inline-block;
        max-width: 200%;
      }
    }
  }

}
