.preview-details-container {
  max-width: 95%;
  .website-icon {
    color: #fff;
    background-color: #2bd587;
    font-size: 12px;
    padding: 2px 8px;
    vertical-align: top;
    display: inline-block;
  }
  .social-icon {
    display: inline-block;
    height: 18px;
  }
}
.business {
  transition: .3s ease all;
}
.business-img {
  max-width: 0px;
  overflow: hidden;
}
.business-logo{
  width: 100%;
  float: right;
}
.business-card {
  background-color: rgba(0, 0, 0, 0.05);
  padding: 20px 24px;
  margin-bottom: 12px;
  overflow: hidden;
  .business-service {
    p {
      font-size: 14px;
    }
  }
  .full-information {
    transition: .3s ease all;
    .business-title {
      opacity: 0.5;
      font-size: 14px;
    }
  }
  &-collapse,
  &-expand {
    position: relative;
    .preview-details {
      font-size: 14px;
      margin-top: 4px;
      line-height: 20px;
   }
   .details {
     display: none;
   }
  .location {
     font-size: 12px;
     font-weight: bold;
     margin-top: 12px;
    }
  }
  &-collapse {
    .preview-details {
      opacity: 0.5;
    }
    .full-information {
      max-height: 0px;
      overflow: hidden;
    }
  }
  &-expand {
    .preview-details {
      opacity: 1;
    }
    .location {
      display: none;
    }
    .full-information {
      max-height: 2000px;
    }
  }

  .business-title {
    margin-bottom: 8px;
  }
  hr {
    margin-top: 0;
    margin-bottom: 25px;
    border: 1px solid rgba(96,125,139,0.25);
    opacity: 0.25;
    width: 100%
  }
  h4 {
    margin-bottom: 4px;
    font-weight: normal;
    line-height: 24px
  }
  .social-icons {
    margin-bottom: 32px;
    transition: .3s ease all;
    &-hide {
      display: none;
    }
    .icon-svg {
      margin-right: 8px;
    }
  }
  .search-filter-label {
    background-color: $white-color;
    color: $primary-color;
    border-radius: 21px;
    padding: 0 4px;
    font-size: 10px !important;
    font-weight: bold !important;
    margin-right: 4px;
    white-space: nowrap;
    display: inline-block;
    margin-bottom: 2px !important;
    cursor: default;
  }
}

.business-type-btn {
  .business-type-label {
    font-size: 14px;
  }
  .business-type {
    width: 100%;
  }
  @media (max-width: 60em) {
    overflow: hidden;
    white-space: nowrap;
    margin: 10px 8px;
    .business-type-container {
      overflow-x: scroll;
      white-space: nowrap;
      display: inline-block;
      div {
        margin-right: 8px;
        display: inline-block;
        max-width: 240%;
      }
    }
  }

}
