.main-footer {
  background-color: #000;
  color: white;
  font-size: 12px;
  height: auto;
  max-height: 300px;
  min-height: 171px;
  padding: 40px;

  .logo {
    height: 50px;
    width: 50px;
  }
  
  .logo-link {
    opacity: 1;
  }

  &_subtitle{
    font-weight: bold;
    margin-bottom: 30px;
    text-transform: uppercase;
  }

  p {
    font-weight: bold;
  }
  
  a {
    color: white;
    display: block;
    font-size: 12px;
    margin-bottom: 16px;
    opacity: .75;
  }

  &_icon {
    display: inline-block !important;
    margin-right: 8px;
    opacity: 1 !important;

    svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }
  }

  @media (max-width: 60em) {
    display: none;
  }
}


@media (max-width: 993px) {
  footer {
    padding: 20px 10px;
  }

  footer .logo {
    width: auto;
  }
}
