.dropdown-input-container {
  text-align: right;
  padding: 10px 16px;
  margin-bottom: 23px;
  .filter-icon {
    color: #2AD587;
    float: left;
    img {
      margin-right: 8px;
    }
  }
  .dropdown-input {
    display: none;
  }
  .dropdown-label {
    vertical-align: middle;
    opacity: 0.75;
  }
  .close-icon {
    display: none;
    transition: height 0.5s ease-out;
  }
  .filters-dropdow {
    font-size: 16px;
  }
  .dropdown-container-filters {
    height: 0px;
    transition: height 0.5s ease-out;
    position: absolute;
    left: 0;
    width: 100%;
    background-color: #000;
    overflow: hidden;
    z-index: 2;
    text-align: left;
  }
  input:checked {
    &~ div.dropdown-container-filters {
      height: 5000px;
      transition: height 0.5s ease-in;
    }
    &~ svg.right-arrow,
    &~ label.dropdown-label {
      display: none;
      transition: height 0.5s ease-in;
    }
    &~ label.close-icon {
      display: initial;
      transition: height 0.5s ease-in;
    }
    &~ div#modal {
      display: initial;
    }
  }
}
.filter-list {
  list-style: none;
  padding: 0 4px;
  font-size: 16px;
  margin: 0;
  .select {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    transition: all 0.5s ease-in;
    justify-content: space-between;
  }
  input {
    display: none;
  }
  svg {
    float: right;
  }
  .first-level-icon {
    transition: all 0.2s ease-in;
  }
  .filters-second-level {
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.5s ease-in;
    .second-level-icon {
      transition: all 0.2s ease-in;
    }
    a {
      color: #fff;
    }
    ul {
      padding: 0 11px 0 32px;
    }
    li {
      list-style: none;
      margin-top: 16px;
      .hover {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
    }
  }
  .filters-third-level {
    max-height: 0px;
    transition: max-height 0.5s ease-in;
    overflow: hidden;
  }
  input:checked {
    &~ .select {
      background-color: #062015;
      .first-level-icon {
        transform: rotate(90deg);
      }
    }
    &~ .filters-second-level {
      max-height: 10000px;
    }
    &~ .hover {
      .second-level-icon {
        transform: rotate(90deg);
      }
    }
    &~ .filters-third-level {
      max-height: 1000px;
    }
  }
}
.filter-chip {
  .search-input-container {
    border-top: 1px solid #666;
    position: relative;
  }
  .search-filter-label {
    margin-top: 8px;
    max-width: 300px;
    text-overflow: ellipsis;
    overflow: hidden;
    @media (max-width: 60em) {
      margin-bottom: 0px;
    }
  }
  .search-filter-label.clear{
    background-color: transparent;
    color: #fff;
    opacity: 0.75;
  }
}

#modal {
  display: none;
  position: fixed;
  background-color: #000;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
