.btn {
  padding: 24px;
  outline: none;
  &:focus {
    outline: none;
  }
  &-outline{
    background-color: transparent;
    border: 1px solid $primary-color;
  }

  &-search {
    width: 100%;
    .btn-outline{
      background-color: transparent;
      border: 1px solid $primary-color;
    }
    &-icon {
      position: absolute;
    }
    &-text {
      width: 70%;
      display: inline-block;
      float: left;
    }
    span {
      font-weight: bold;
      display: inline-block;
      width: 100%;
      text-align: left;
    }
  }

  &-link {
    border: 0px;
    background-color: transparent;
    float:right;
    font-size: 14px;
    width: 100%;
    text-align: right;
    font-weight: bold;
    &:focus {
      outline: none;
    }
    &-primary {
      color: $primary-color;
      font-weight: bold;
    }
  }
}
.underline {
  text-decoration: underline;
  font-size: 12px;
}
.hide {
  display: none;
}
.show {
  display: initial;
}
