.link {
  font-size: $font-size-paragraphe;
  font-weight: normal;
  color: $white-color;
  white-space: nowrap;
  display: inline-block;
}

.link-primary {
  color: $primary-color;
}

.title-as-link {
  cursor: pointer;

  &:hover {
    color: $green-color;
  }

  &--small {
    font-size: 14px;
  }

  &--decoration {
    text-decoration: underline;
  }
}
