
.pagination-container {
  &-hide {
    display: none;
  }
}
.pagination-arrow {
  border-radius: 2px;
  padding: 8px;
  background-color: $primary-color;
  cursor: pointer;
}
.pagination-index {
  font-size: 14px;
  font-weight: bold;
  list-style: none;
  padding: 0px;
  .previous {
    margin-left: 0px;
  }
  .previous,
  .next {
    color: $primary-color;
  }
  .previous.disabled,
  .next.disabled {
    opacity: 0.3;
  }
  li {
    display: inline-block;
    margin: 0 20px 0 20px;
    a {
      color: #bbbbbb;
      font-weight: bold;
    }
  }
  li.active {
    a {
      color: #000;
      font-weight: bold;
    }
  }
}
