.hero_inputContainer {
  position: relative;
  max-width: 940px;
  margin: 48px auto 20px auto;
  input {
    &::placeholder,
    &::-moz-placeholder,
    &::-ms-input-placeholder {
      color: $white-color;
      opacity: 0.75;
      font-weight: normal;
      font-size: 20px;
      padding: 0px;
      font-weight: 400;
      @media (max-width: 60em) {
        font-size: 16px;
        padding: -5px;
      }
    }
  }
  .hide-placeholder {
    input::placeholder {
      opacity: 0;
    }
  }
  .text-search-icon {
    position: absolute;
    right: 24px;
    top: 23px;
    color: $fourth-color;
    @media (max-width: 60em) {
      right: 6%;
      top: 31px;
    }
    @media (max-width: 580px) and (min-width: 320px) {
      display: none;
    }
  }
}
.hero_input {
  background-color: $primary-color;
  border-radius: 0;
  height: 76px;
  width: 100%;
  border: none;
  padding: 0 28px;
  color: $fourth-color;
  box-sizing: border-box;
  &:focus {
    outline: none;
  }
  &-dropdown {
    background-color: $primary-color;
  }
  &-container {
    position: relative;
    margin: auto;
    position: relative;
  }
}
.hero-dropdown-list-hide {
  display: none;
}
.hero-dropdown-list{
  list-style: none;
  background-color: $primary-color;
  width: 416px;
  padding: 8px;
  z-index: 900;
  margin: 0;
  box-sizing: border-box;
  li {
    padding: 8px;
    text-align: left;
    img {
      width: 16px;
      vertical-align: middle;
    }
    &:hover {
      background-color: #3E3E3E;
    }
  }
  a {
    color: $white-color;
    display: inline-block;
    width: 93%;
    vertical-align: middle;
  }
  .not-match-message {
    font-size: 16px;
    opacity: 0.75;
    text-align: left;
    &:hover {
      background-color: #000;
    }
  }
  @media (max-width: 60em) {
    width: 100%;
    li {
      width: 95%;
    }
  }
}

.hero_input-hide {
  display: none;
  position: absolute;
  transition: all 0.2s ease-out;
}
.hero_input-show {
  display: initial;
  position: absolute;
  transition: all 0.2s ease-in;
  left: 27px;
  top: 107%;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 60em) {
    width: 100%;
    left: 0;
  }
}
