.hero_inputContainer {
  position: relative;
  max-width: 940px;
  margin: 48px auto;
  input::placeholder {
    color: $white-color;
    opacity: 0.75;
    font-weight: normal;
    font-size: 20px;
    padding: 0px;
    font-weight: 400;
    @media (max-width: 50em) {
      font-size: 16px;
      padding: -5px;
    }
  }
  .hide-placeholder {
    input::placeholder {
      opacity: 0;
    }
  }
  .text-search-icon {
    position: absolute;
    right: 24px;
    top: 19px;
    @media (max-width: 50em) {
      right: 10%;
      top: 25%;
    }
  }
}
.hero_input {
  background-color: $primary-color;
  height: 76px;
  width: 94%;
  border: none;
  padding: 0 28px;
  color: $secondary-color;
  &:focus {
    outline: none;
  }
  &-dropdown {
    background-color: $primary-color;
  }
}
.hero-dropdown-list-hide {
  display: none;
}
.hero-dropdown-list{
  list-style: none;
  background-color: $primary-color;
  width: 416px;
  padding: 8px;
  z-index: 900;
  margin: 0px;
  li {
    padding: 8px;
    text-align: left;
    img {
      float: right;
      width: 16px;
    }
    &:hover {
      background-color: #3E3E3E;
    }
  }
  a {
    color: $white-color;
    display: inline-block;
    width: 90%;
  }
  .not-match-message {
    font-weight: bold;
    font-size: 16px;
    opacity: 0.5;
    color: #fff;
    text-align: left;
    &:hover {
      background-color: #000;
    }
  }
  @media (max-width: 50em) {
    width: 100%;
    li {
      width: 89%;
    }
  }
}

.hero_input-hide {
  display: none;
  position: absolute;
  transition: all 0.2s ease-out;
}
.hero_input-show {
  display: initial;
  position: absolute;
  transition: all 0.2s ease-in;
  left: 27px;
  top: 107%;
  z-index: 1;
  max-height: 300px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  @media (max-width: 50em) {
    width: 92%;
    left: 7%;
  }
}
