.service {
  margin-bottom: 24px;

  &:last-child {
    margin-bottom: 0;
  }

  &--margin-bottom {
    margin-bottom: 16px;
  }

  &__title {
    margin-bottom: 8px;
  }

  &__content {
    color: $eighth-color;
    font-size: 14px;
    opacity: 0.87;
    margin-bottom: 16px;
  }

  &__view-more,
  &__view-less {
    background: transparent;
    border: 0;
    color: $ninth-color;
    font-size: 12px;
    margin: 0 0 0 5px;
    padding: 0;

    &:hover {
      text-decoration: underline;
    }
  }

  &__view-less {
    margin: 0;
  }
}

.service-content {
  margin-bottom: 16px;

  &__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__content {
    color: $eighth-color;
    font-size: 14px;
    opacity: 0.87;
  }
}

.service-column {
  &__title {
    font-size: 14px;
    margin-bottom: 5px;
  }

  &__content {
    color: $eighth-color;
    font-size: 14px;
    opacity: 0.87;
  }

  &__link {
    color: $eighth-color;
    font-size: 14px;
    opacity: 0.87;

    &:hover {
      color: $ninth-color;
      text-decoration: underline;
    }
  }
}
