.post-lists-item {
  background-color: $sixth-color;
  margin-bottom: 24px;
  padding: 48px;

  &__title {
    color: $eighth-color;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    opacity: 0.87;
  }

  &__description {
    color: $eighth-color;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    opacity: 0.54;
  }

  &__tags {
    color: $eighth-color;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    opacity: 0.87;

    &__date {
      opacity: 0.5;
      color: $primary-color;
    }
  }
}

.post-lists-loading {
  box-sizing: border-box;
  height: 200px;
  margin-bottom: 24px;
  padding: 48px;
  width: 100%;

  &__element {
    background: $gray-color-three;
    height: 18px;
    margin-bottom: 8px;
    width: 100%;

    &__title {
      margin-bottom: 16px;
      height: 25px;
      width: 80%;
    }
  }

  &__title {
    border-bottom: 2px solid black;
    margin-bottom: 15px;

    &__loading {
      display: block;
      height: 25px;
      margin-bottom: 8px;
      width: 200px;
    }
  }
}
