.post-lists-item {
  background-color: $sixth-color;
  margin-bottom: 24px;
  padding: 48px;

  &__title {
    color: $eighth-color;
    font-size: 20px;
    line-height: 28px;
    margin-bottom: 16px;
    opacity: 0.87;
  }

  &__description {
    color: $eighth-color;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
    opacity: 0.54;
  }

  &__tags {
    color: $eighth-color;
    font-size: 12px;
    font-weight: 600;
    line-height: 16px;
    opacity: 0.87;

    &__date {
      opacity: 0.5;
      color: $primary-color;
    }
  }
}
