.business-deatils-wrapper {
  .content-section {
    margin-bottom: 32px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 25.7%;
      background: #e1e1e1;
      width: 1px;
      height: 100%;
    }

    @media (max-width: 60em) {
      &:after {
        display: none;
      }
    }
  }
}

@import './details/main-section';
@import './details/detail';
@import './details/services-offered';
@import './details/service';
@import './details/locations';
@import './details/location';
@import './details/social-bar';
@import './details/location_details';
