.business-deatils-wrapper {
  .content-section {
    background-color: #f7f9fd;
    padding: 40px 0 32px;
    position: relative;

    &:after {
      background: #e1e1e1;
      content: '';
      height: calc(100% - 80px);
      position: absolute;
      right: 35.4%;
      top: 40px;
      width: 1px;
    }

    @media (max-width: 60em) {
      &:after {
        display: none;
      }
    }
  }
}

@import './details/main-section';
@import './details/detail';
@import './details/services-offered';
@import './details/service';
@import './details/locations';
@import './details/location';
@import './details/social-bar';
@import './details/location_details';
@import './details/upcoming-events';
@import './details//left-bar';
@import './details/detail-featured-post';
