.result-container {
  display: initial;
  &-hide {
    display: none;
  }
}
.businessList_top {
  padding: 25px;
}
.businessList_top_filter {
  color: #0C0033;
  position: relative;
  padding: 2px 5px;
}
.businessList_top_filter:hover {
  cursor: pointer;
}
.businessList_top_filter_text {
  opacity: .5;
  font-size: 14px;
}
.businessList_top_filter_icon {
  margin-left: 15px;
  position: relative;
  margin-bottom: 5px;
}

.no-result-message {
  &-show {
    text-align: center;
    margin-bottom: 116px;
    margin-top: 91px;
    min-height: 50vh;
    .message {
      font-size: 24px;
      line-height: 36px;
      opacity: 0.5;
    }
    @media (max-width: 60em) {
      margin-top: 0px;
      padding: 24px;
      svg {
        width: 100px;
        height: 100px;
      }
      .message {
        font-size: 16px;
        line-height: 24px;
      }
    }
  }
  &-hide {
    display: none;
  }
  @media (max-width: 60em) {
    margin-top: 50%;
    width: 100%;
    min-height: 35vh;
  }
}

@media (max-width: 60em) {
  .businessList_top {
    text-align: center;
  }
}
