
.businessList {
  z-index: 1;
  transition: .3s ease all;
  position: relative;
}

.businessList--reduced {
  transition: .3s ease all;
  position: relative;
}

.load-div {
 align-items: center;
 padding: 10% 10%;
 text-align: center;
}
.loader {
  width: 100px;
}
.loader-text {
  text-transform: uppercase;
  color: #00D3A7;
  font-size: 24px;
  padding-top: 20px;
  line-height: 36px;
}
