.business_block--reduced {
  border-top: 1px solid rgba(0,0,0,.2);
  padding: 16px 20px;
  line-height: 16px;
  padding-bottom: 50px;
}
.business_block--reduced:hover {
  background: rgba(96,125,139,0.1);
  cursor: pointer;
}
.business_block--reduced h3 {
  margin-bottom: 8px;
}

.business_block--reduced_bottom {
  margin-top: 8px;
}

.socialIcon_icon {
  height: 14px;
  width: 14px;
  margin-right: 8px;
}


.business_block--expanded {
  border-bottom: 1px solid rgba(0,0,0,.2);
  padding: 16px;
  line-height: 16px;
  margin-top: 16px;
  padding-bottom: 50px;
}
.business_block--expanded:hover {
  background: rgba(96,125,139,0.1);
  cursor: pointer;
}
.business_block--expanded_title {
  font-size: 20px;
  font-weight: normal;
  color: #3F51B5;
  margin-bottom: 16px;
}
.business_block--expanded_services {
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 20px;
}
.business_block--expanded_bottom {
  margin-top: 16px;
}
.business_block_contact {
  font-size: 14px;
  padding-right: 0;
  line-height: 20px;
}
.business_block_contact_address {
  margin-bottom: 8px;
}

@media (max-width: 48em) {
  .business_block_contact {
    padding: 0;
  }
}
