
.businessList {
  z-index: 1;
  transition: .3s ease all;
  position: relative;
}

.businessList--reduced {
  transition: .3s ease all;
  position: relative;
}

.load-div {
 display: flex;
 justify-content: space-around;
 align-items: center;
 padding: 10% 10%;
}
.loader {
  width: 100px;
}
.loader-text {
  position: absolute;
  text-transform: uppercase;
  color: #00D3A7;
  font-size: 24px;
  padding-top: 25%;
  line-height: 36px;
}
