.map {
  position: relative;
  transition: .3s ease all;
  padding-right: 0px;
  float: right;
  width: 30%;
}
.mapReduced {
  margin-top: 16px;
}
.mapReduced > div {
  max-height: 300px;
}
.reduceMapBtn {
  background-color: rgba(245,245,245,1);
  border: none;
  outline: none;
  color: #3F51B5;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: 0 2px 3px -1px grey;
  position: absolute;
  z-index: 1;
}
.reduceMapBtn:hover {
  cursor: pointer;
}
.reducedMapBottom {
  margin-top: 15px;
}
.expandMapBtn {
  color: #3F51B5;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
}
.expandMapBtn:hover {
  cursor: pointer;
}

.reducedMapBottom_checkContainer {
  margin: 0;
  display: block;
}
.reducedMapBottom_check {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid #0C0033;
  vertical-align: middle;
}
.reducedMapBottom_check:hover {
    cursor: pointer;
}
.reducedMapBottom_check:active, .reducedMapBottom_check:focus, .reducedMapBottom_check:checked {
  background: #0c0033;
  outline: none;
}
.reducedMapeBottom_checklabel {
  font-size: 14px;
  margin-left: 10px;
}

.map_markerContainer {
  position: relative;
  height: 40px;
  width: 40px;
}
.map_marker {
  color: #4A4A4A;

}
.map_marker:hover {
  cursor: pointer;
  color: #4A4A4A;
  stroke: #4A4A4A;
  stroke-width:2px;
  stroke-linejoin: round;
}
.map_modal {
  position: absolute;
  text-align: center;
  width: 200px;
  margin-left: -90px;
  bottom: 50px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(12,0,51,0.1);
  background: white;
}
.map_modal_top {
  padding: 15px 15px 0 15px;
}
.map_modal_logo {
  height: 44px;
  display: block;
  margin-top: -5px;
}
.map_modal_title {
  color: #3F51B5;
  font-weight: bold;
  font-size: 14px;
  margin: 0;
}
.map_modal_social {
  border-top: .5px solid rgba(0,0,0,0.12);
  padding: 11px 15px 11px 15px;
}
.map .map-btn {
  margin-left: 0;
  width: 100%;
}
.map .btn-link {
  padding-right: 0;

}
.float-right {
  float: right;
}
.map-expanded {
  width: 200%;
}

@media (max-width: 960px) {
  .map {
    display: none;
  }
}

@media (max-width: 60em) {
  .reduceMapBtn {
    left: 10px;
    right: auto;
  }
  .reducedMapBottom_checkContainer {
    margin: 10px auto;
  }
}
