.map {
  position: relative;
  transition: .4s ease all;
  padding-right: 0px;
  float: right;
  width: 30%;
}
.mapReduced {
  margin-top: 16px;
}
.mapReduced > div {
  max-height: 300px;
}
.reduceMapBtn {
  background-color: rgba(245,245,245,1);
  border: none;
  outline: none;
  color: #3F51B5;
  font-weight: bold;
  font-size: 14px;
  padding: 10px 15px;
  box-shadow: 0 2px 3px -1px grey;
  position: absolute;
  z-index: 1;
}
.reduceMapBtn:hover {
  cursor: pointer;
}
.reducedMapBottom {
  margin-top: 15px;
}
.expandMapBtn {
  color: #3F51B5;
  background: none;
  border: none;
  outline: none;
  font-weight: bold;
  font-size: 14px;
}
.expandMapBtn:hover {
  cursor: pointer;
}

.reducedMapBottom_checkContainer {
  margin: 0;
  display: block;
}
.reducedMapBottom_check {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  border: 2px solid #0C0033;
  vertical-align: middle;
}
.reducedMapBottom_check:hover {
    cursor: pointer;
}
.reducedMapBottom_check:active, .reducedMapBottom_check:focus, .reducedMapBottom_check:checked {
  background: #0c0033;
  outline: none;
}
.reducedMapeBottom_checklabel {
  font-size: 14px;
  margin-left: 10px;
}

.map_markerContainer {
  position: relative;
  height: 40px;
  width: 40px;
}
.business_block--expanded_bottom {
  transition: visibility 0s, opacity 0.5s linear;
  visibility: visible;
  opacity: 1;
}
.map_modal {
  transition: all 0.4s ease-in;
  text-align: center;
  width: 269px;
  bottom: 68px;
  left: -123px;
  margin-left: -90px;
  box-shadow: 0 0 2px 0 rgba(0,0,0,0.12), 0 2px 2px 0 rgba(12,0,51,0.1);
  background: white;
  position: relative;
  color: #000;
  background: linear-gradient(top, #f9d835, #f3961c);
  z-index: 100;
}
.map_modal hr {
  width: 90%;
  border: 1px solid rgba(96,125,139,0.25);
  margin: 0px auto;
}
.map_modal:after {
  content: "";
  display: block; /* reduce the damage in FF3.0 */
  position: absolute;
  bottom: -8px;
  right: 44%;
  width: 0;
  border-width: 8px 8px 0;
  border-style: solid;
  border-color: white transparent;
}

.map_modal_top {
  padding: 15px;
  min-height: 93px;
  width: 100%;
  bottom: 100%;
  position: absolute;
  background-color: inherit;
}
.map_modal_logo {
  transition: all 0.4s ease-in;
  width: 64px;
  height: 64px;
  display: inline-block;
}
.map_modal_title {
  transition: all 0.4s ease-in;
  color: #000000;
  font-size: 16px;
  margin: 0;
  display: inline-block;
  width: 153px;
  padding-right: 15px;
}
.map_modal_social {
  padding: 11px 15px 11px 15px;
}
.map .map-btn {
  margin-left: 0;
  width: 100%;
}
.expand-btn {
    color: #4A4A4A;
}
.map .btn-link {
  padding-right: 0;
  margin-left: 0;

}
.float-right {
  float: right;
}
.map-expanded {
  width: 200%;
}

.close-map-org {
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 10;
}
.close-map-org:hover {
  cursor: pointer;
}
.icon-svg {
  margin-right: 8px;
}

@media (max-width: 960px) {
  .map {
    display: none;
  }
}

@media (max-width: 60em) {
  .reduceMapBtn {
    left: 10px;
    right: auto;
  }
  .reducedMapBottom_checkContainer {
    margin: 10px auto;
  }
}
