.businessList_top {
  padding: 25px;
}
.businessList_top_filter {
  color: #0C0033;
  position: relative;
  padding: 2px 5px;
}
.businessList_top_filter:hover {
  cursor: pointer;
}
.businessList_top_filter_text {
  opacity: .5;
  font-size: 14px;
}
.businessList_top_filter_icon {
  margin-left: 15px;
  position: relative;
  margin-bottom: 5px;
}

@media (max-width: 48em) {
  .businessList_top {
    text-align: center;
  }
}
