.hero {
  background: url("/static-data/images/hero.png");
  background-size: cover;
  background-position: 50% 25%;
  padding: 85px 0;
  color: white;
  min-height: 80vh;
  .logo {
    width: 60px;
  }
  .logo-container {
    width: 100%;
    margin-bottom: 26px;
  }
  &-link {
    @media (max-width: 60em) {
      width: 100%;
      margin: 0;
      font-size: 14px;
    }
  }
}
.hero_input_btn {
  background: #ffc000;
  border: none;
  outline: none;
  color: white;
  font-weight: bold;
  font-size: 16px;
  padding: 9px 24px;
  border-radius: 2px;
}
.hero_input_btn:hover {
  cursor: pointer;
}
.hero_link {
  margin-top: 20px;
  color: white;
  display: block;
  font-weight: bold;
}
@media (max-width: 60em) {
  .hero_content {
    width: auto;
  }
  .hero h2 {
    font-size: 20px;
    line-height: 27px;
  }
  .hero_input {
    width: 85%;
    margin: 10px auto;
    padding-left: 16px;
    text-overflow: ellipsis;
    overflow: hidden;
  }
  .hero_input_btn {
    width: 90%;
    margin: 0 auto;
  }
}
