/*
*  Set $use-silent-classes true to generate silent classes of the normal css classes
*  Set $use-silent-classes false if you don't want to generate silent classes of the normal css classes
*/
$use-silent-classes:               true;
$css-class:                         ".";
$silent-class:                      "%";

//colors
$primary-color:                     #000000;
$secondary-color:                   #2AD587;
$third-color:                       #4A4A4A;
$success-color:                     #0AC46F;
$warning-color:                     #FFC000;
$error-color:                       #FF0048;
$white-color:                       #fff;

//typography
$font-family-sans-serif:            'Proxima Nova', Georgia, sans-serif;
$font-family-thin:                  'proxima_nova_ltthin', Georgia, sans-serif;
$font-family-bold:                  'proxima_nova_altbold', Georgia, sans-serif;
$font-size-header:                  36px;
$font-size-title:                   20px;
$font-size-paragraphe:              16px;
