/*
*  Set $use-silent-classes true to generate silent classes of the normal css classes
*  Set $use-silent-classes false if you don't want to generate silent classes of the normal css classes
*/
$use-silent-classes:               true;
$css-class:                         ".";
$silent-class:                      "%";

//colors
$primary-color:                     #000000;
$secondary-color:                   #2AD587;
$third-color:                       #4A4A4A;
$fourth-color:                      #00D3A7;
$fifth-color:                       #DDF2F0;
$sixth-color:                       #E5E5E5;
$success-color:                     #0AC46F;
$warning-color:                     #FFC000;
$error-color:                       #FF0048;
$white-color:                       #fff;
$seconday-color-opacity:            rgba(42, 213, 135, 0.17);

//typography
$font-family:                       'proxima-nova-regular', Georgia, sans-serif;
$font-family-thin:                  'proxima-nova-thin', Georgia, sans-serif;
$font-family-bold:                  'proxima-nova-bold', Georgia, sans-serif;
$font-family-semi:                  'proxima-nova-semi', Georgia, sans-serif;
$font-size-header:                  36px;
$font-size-title:                   20px;
$font-size-paragraphe:              16px;
