/* Set defaults */
@import "~flexboxgrid/css/flexboxgrid.min.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
  font-family: 'proxima-nova-regular';
  src: url(../fonts/Mark Simonson - Proxima Nova Alt Regular-webfont.woff);
}

@font-face {
  font-family: 'proxima-nova-bold';
  src: url(../fonts/Mark Simonson - Proxima Nova Alt Bold-webfont.woff);
}

@font-face {
  font-family: 'proxima-nova-thin';
  src: url(../fonts/Mark Simonson - Proxima Nova Thin-webfont.woff);
}
@font-face {
  font-family: 'proxima-nova-semi';
  src: url(../fonts/Mark Simonson - Proxima Nova Semibold-webfont.woff2);
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot);
  src: local('Material Icons'), local('MaterialIcons-Regular'),
    url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
    url(../fonts/MaterialIcons-Regular.woff) format('woff'),
    url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
p,
a {
  margin: 0;
}
.row {
  margin: 0;
}
.contentContainer {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}
input[type='text']::-ms-clear {
  display: none;
}
.body-container {
  min-height: 90vh;
}
@media (max-width: 60em) {
  .body-container {
    padding: 0px;
    flex-basis: 100%;
    max-width: 100%;
    margin-top: 23px;
  }
}
/* Useful Classes */
.primary {
  color: #3f51b5;
}
.secondary {
  color: #0c0033;
}
.white {
  color: #ffffff;
}
.bold {
  font-weight: bold;
}
.bodyFont {
  font-size: 14px;
}
.smallFont {
  font-size: 12px;
}
.opacity75 {
  opacity: 0.75;
}
.break-word {
  word-wrap: break-word;
}
.opacity50 {
  opacity: 0.5;
}
.no-padding {
  padding: 0;
}
.hidden {
  display: none;
}
.mobile-devices {
  display: none !important;
}
.container-mid {
  top: 50%;
  position: absolute;
  transform: translateY(-50%);
  width: 100%;
}
.center-x {
  width: 90%;
  margin: auto;
}
.underline-text {
  text-decoration: none;
  border-bottom: 1px solid #00d3a7;
}
.position-relative {
  position: relative;
}
@media (max-width: 60em) {
  .mobile-devices {
    display: initial !important;
  }
  .desktop-devices {
    display: none !important;
  }
  .container-mid {
    top: calc(50% + 112px);
  }
  .text-xs-margin {
    margin: 10px auto;
  }
  .contentContainer {
    max-width: 100%;
    width: 100%;
  }
}
@media (max-width: 320px) {
  .container-mid {
    top: calc(50% + 200px);
  }
}

/* Shared */
.website-link {
  text-transform: uppercase;
  margin-right: 12px;
}
.website-link span {
  vertical-align: middle;
}

/* Import Components */
@import './components/shared/header.css';
@import './components/shared/CheckBox.css';

@import './components/businesses/map.css';
@import './components/businesses/businessList.css';
@import './components/businesses/businesses.css';
@import './components/businesses/businessBlock.css';

@import './components/home/browseBy.css';
@import './components/business/business.css';
