/* Set defaults */
@import url('https://fonts.googleapis.com/css?family=Roboto');

a {
  text-decoration: none;
  color: black;
}
h1,h2,h3,h4,h5,p, a {
  margin: 0;
}
.row {
  margin: 0;
}
.contentContainer {
  width: 90%;
  max-width: 1300px;
  margin: 0 auto;
}

/* Useful Classes */
.primary {
  color: #3F51B5;
}
.secondary {
  color: #0C0033;
}
.white {
  color: #ffffff;
}
.bold {
  font-weight: bold;
}
.bodyFont {
  font-size: 14px;
}
.smallFont {
  font-size: 12px;
}
.opacity75 {
  opacity: .75;
}

.opacity50 {
  opacity: .5;
}
.noPadding {
  padding: 0;
}
.hidden {
  display: none;
}
.mobile-devices {
  display: none !important;
}
@media (max-width: 750px) {
  .mobile-devices {
    display: initial !important;
  }
  .desktop-devices {
    display: none !important;
  }
}
@media (max-width: 48em) {
  .text-xs-margin {
    margin: 10px auto;
  }
  .contentContainer {
    max-width: 100%;
  }
}

/* Shared */
.visitWebsite {
  text-transform: uppercase;
  margin-right: 16px;
}
/* Import Components */
@import './components/shared/header.css';
@import './components/shared/CheckBox.css';

@import './components/businesses/map.css';
@import './components/businesses/businessList.css';
@import './components/businesses/businesses.css';
@import './components/businesses/businessBlock.css';

@import './components/home/browseBy.css';
@import './components/business/business.css';
