.header_title {
  margin-right: 16px;
  white-space: nowrap;
}
.header_leftLink {
  color: white;
  margin-right: 16px;
  font-weight: bold;
  line-height: 16px;
}

.header_link {
  color: white;
  margin-right: 24px;
  line-height: 16px;
  outline: 0;
}

.header_link:hover,
.header_link:active,
.header_link:focus {
  outline: 0;
}

.headerContainer .header_links-contact .header_link {
  opacity: 0.75;
}

.header_link:last-child {
  margin-right: 0;
}
