
.header_title {
  margin-right: 16px;
  white-space: nowrap;
}
.header_leftLink {
  color: white;
  margin-right: 16px;
  font-weight: bold;
  line-height: 16px;
}
.header_link {
  color: white;
  margin-left: 24px;
  line-height: 16px;
}
