.margin-0 {
  margin: 0 !important;
}
.m-bot-8 {
  margin-bottom: 8px;
}
.m-top-16 {
  margin-top: 16px;
}
.m-bot-16 {
  margin-bottom: 16px;
}
.m-top-20 {
  margin-top: 20px;
}
.m-bot-20 {
  margin-bottom: 20px;
}
.m-top-24 {
  margin-top: 24px;
}
.m-bot-24 {
  margin-bottom: 24px;
}
.m-bot-25 {
  margin-bottom: 25px;
}
.m-right-8 {
  margin-right: 8px;
}
.m-right-24 {
  margin-right: 24px;
}
.m-top-28 {
  margin-top: 28px;
}
.m-bot-28 {
  margin-bottom: 28px;
}
.m-right-16 {
  margin-right: 16px;
}
.m-right-52 {
  margin-right: 52px;
}
.m-left-24 {
  margin-left: 24px;
}
.m-left-16 {
  margin-left: 16px;
}
.m-x-7 {
  margin: 0 7px;
}
.m-x-8 {
  margin: 0 8px;
}
.m-bot-100 {
  margin-bottom: 100px;
}
.margin-auto {
  margin: auto;
}
.margin-x-16 {
  margin: 0 16px;
}
.margin-y-20 {
  margin: 20px 0;
}
