.p-left-24 {
  padding-left: 24px;
}
.p-left-16 {
  padding-left: 16px;
}
.p-bot-24 {
  padding-bottom: 24px;
}
.p-bot-16 {
  padding-bottom: 16px;
}
.p-bot-10 {
  padding-bottom: 10px;
}
.p-bot-0 {
  padding-bottom: 0 !important;
}
.p-top-0 {
  padding-top: 0 !important;
}
.p-left-0 {
  padding-left: 0 !important;
}
.p-right-0 {
  padding-right: 0 !important;
}
.p-0 {
  padding: 0px !important;
}
.p-right-2 {
  padding-right: 20px !important;
}

.p-x-24 {
  padding: 0 24px;
}
