.p-left-24 {
  padding-left: 24px;
}
.p-bot-24 {
  padding-bottom: 24px;
}
.p-bot-16 {
  padding-bottom: 16px;
}
.p-left-0 {
  padding-left: 0px !important;
}
.p-right-0 {
  padding-right: 0px !important;
}
.p-0 {
  padding: 0px;
}
