.form-titles {
  color: black;
  font-size: 14px;
  font-family: 'proxima-nova-bold', Georgia, sans-serif;
  line-height: 20px;
}

.events-form-title {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 14px;
}
