.hero h2 {
 font-size: $font-size-header;
 font-weight: bold;
 line-height: 54px;
 margin: auto;
 margin-top: 32px;
}
.hero p {
  font-size: $font-size-paragraphe;
  line-height: 24px;
  margin: 5px auto;
  @media (max-width: 60em) {
    margin-top: 16px;
  }
}
h1, h2, h3 {
  font-weight: normal !important;
}
.text-regular {
  font-family: $font-family;
}
.text-bold {
  font-family: $font-family-bold;
}
.text-semi {
  font-family: $font-family-semi;
}
.text-thin {
  font-family: $font-family-thin;
}

.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
